html{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 121, 0, 0.02);
    width: 100%;
    text-align: justify;
    font-size: 16px;
}

h1{
    font-size: 17px;
}

a{
    text-decoration: none;
}

#logo{
    top: 0px;
    left: 0px;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*en-tête*/

    header{
        font-size: 15px;
    }

    #en-tete{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #titre{
        color: rgb(255,121,0);
        text-align: center;
        width: 50%;
        display:block;
        font-size: 30px;
    }

    #img_en-tete{
        width: 150px;
        height: auto;
        display: block;
    }


/*bandeau de navigation*/

    #bandeau{
        height: 47px;
        display: flex;  /*répartit les titres sur toute la ligne du bandeau*/
        padding: 0px;
        background-color: rgba(255, 121, 0, 0);
        width: 100%;    /*s'étale sur toute la largeur de l'écran*/
        top: 0px;   /* fixe le bandeau tout en haut de la page*/
        margin: 0 auto;
    }

    #bandeau li{
        flex: auto;     /*met le texte du bandeau sur 1 ligne en créant des cases de différentes tailles*/
        list-style-type: none;
        text-align: center;
        line-height: auto;
        position: relative;
    }

    #bandeau a{
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        display: block;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        padding: 15px 0px;
    }

    #bandeau a:hover{
        color: rgb(255,121,0);
        border-bottom: 2px solid rgb(255,121,0);
        border-top: 2px solid rgb(255,121,0);
    }

    nav #bandeau::after{
        display: table;
    }

/*sous catégories du bandeau*/

    nav ul li:hover .sous{display: block;}     /* affiche le sous menu quand la souri passe sur l'item titre */

    .sous{
        display: none;    /* cache le sous menu */
        text-align: center;
        position: absolute;     
        z-index: 1000;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.90);
        padding: 0;     /* les "sous cases" sont de la même taille que les "cases titre" */
    }

    .sous li{
        width: 100%;
        float: none;
    }

    #bandeau .sous li a{
        font-weight: normal;
        text-transform: capitalize;
        text-align: center;
        border-bottom: none;
        border-top: none;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    #bandeau .sous li a:hover{
        background-color: white;
        color: rgb(255,121,0);
    }

/*corp de la page d'accueil*/

    #modelisation_bloc{
        width: 100%;
    }

    #presentation{
        display: flex;
        padding-top: 25px;
    }

    #les_photos{
        flex: 1;
    }

    #texte_presentation{
        flex: 1;
    }


/*carrousel*/

    .carousel {
        margin-left: 20px;
        margin-right: 20px;
    }

    ul.slides {
        display: block;
        position: relative;
        height: 500px;
        width: 700px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
    }

    .slides * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    ul.slides input {
        display: none; 
    }


    .slide-container { 
        display: block; 
    }

    .slide-image {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: all .7s ease-in-out;
    }   

    .slide-image img {
        width: auto;
        min-width: 100%;
        height: 100%;
    }

    .carousel-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        font-size: 75px;
        line-height: 500px;
        color: #fff;
    }

    .carousel-controls label {
        display: none;
        position: absolute;
        padding: 0 20px;
        opacity: 0;
        transition: opacity .2s;
        cursor: pointer;
    }

    .slide-image:hover + .carousel-controls label{
        opacity: 0.5;
    }

    .carousel-controls label:hover {
        opacity: 1;
    }

    .carousel-controls .prev-slide {
        width: 49%;
        text-align: left;
        left: 0;
    }

    .carousel-controls .next-slide {
        width: 49%;
        text-align: right;
        right: 0;
    }

    .carousel-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 999;
        text-align: center;
    }

    .carousel-dots .carousel-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.5;
        margin: 10px;
    }

    input:checked + .slide-container .slide-image {
        opacity: 1;
        transform: scale(1);
        transition: opacity 1s ease-in-out;
    }

    input:checked + .slide-container .carousel-controls label {
        display: block; 
    }

    input#img-1:checked ~ .carousel-dots label#img-dot-1,
    input#img-2:checked ~ .carousel-dots label#img-dot-2,
    input#img-3:checked ~ .carousel-dots label#img-dot-3,
    input#img-4:checked ~ .carousel-dots label#img-dot-4,
    input#img-5:checked ~ .carousel-dots label#img-dot-5,
    input#img-6:checked ~ .carousel-dots label#img-dot-6 {
        opacity: 1;
    }

    input:checked + .slide-container .nav label { display: block; }

/* Accueil */

#mini_texte_visite{
    text-align: center;
    width: 70%;
    display: block;
    margin: 35px auto;
}

#mini_texte_visite h1{
    font-size: 25px;
    color: rgb(255,121,0);
}

/* vidéo page d'accueil*/

#video{
    display: block;
    margin: 30px auto;
    width: 800px;
    height: 450px;
    border: solid black 1px;
}


/* pied de page */

    footer{
        background-color:rgb(80, 75, 75);
        color: white;
        font-size: 15px;
    }

    footer a{
        color: white;
        text-align: right;
        display: block;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .pied_de_page{
        list-style-type: none;
        display: inline-block;
        padding-left: 70px;
        padding-right: 60px;
        margin: 0;
    }

    .pied_de_page a{
        margin: 0;
        padding: 3px 0;
        text-align: left;
    }

    #titre_pied{
        text-transform: uppercase;
        padding-top: 15px;
        padding-left: 20px;
    }


/* infos-pratiques */

    #img_tarifs{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 0px;
        padding: 0px;
        margin: 0px;
        margin-top: 15px;
    }

    table{
        table-layout: auto;
        width: 100%;
    }

    #St_Jacques,
    #Cour_interieure{
        width: 98%;
        height: auto;
        padding: 10px;
        margin: 0px;
    }

    #col1{
        padding: 0px;
        margin: 0px;
    }

    #col2 caption{
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bolder;
        text-align: center;
    }

    #col2{
        padding: 0px;
        margin: 0px;
    }

    #col2 tr{
        width: 100%;
    }

    #col2 td{
        height: 25px;
        margin: 0px;
        padding: 0px 20px;
    }

    hr{
        border-color: rgb(255,121,0);
        border-style: 2px solid;
        border-style: double;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 99%;
    }

    iframe{
        border: 1px solid black;
        width: 98% ;
        height: 350px;
        margin-left: 10px;
    }

    #map{
        margin-top: 25px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bolder;
        text-align: center;
    }

    #instructions_acces{
        text-align: center;
        margin-top: 15px;
    }

    #Btourisme{        
        color: black;
    }

    #Btourisme:hover{
        font-style: italic;
    }

/* Esapce administrateur */

    .type_action{
        display: inline-block;
        width: 33%;
        padding: 20px 0;
        margin: 0;
        text-align: center;
    }

    #action li{
        list-style-type: none;
    }

    .type_action p{
        text-transform: uppercase;
        font-weight: bolder;
    }


/* nos collections */

#texte_collection{
    padding: 10px 20px;
}

/* visite virtuelle */

#appvisite {
    border: 2px solid rgb(255,121,0);
    height: 500px;
    margin: auto;
    margin-top: 50px;
    width: 90%;    /*s'étale sur toute la largeur de l'écran*/
}

#infospot1,#infospot2,#infospot3 {
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 250px;
    background: #fff;
    color: black;
    border-radius: 3px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#infospot1,#infospot2,#infospot3 > iframe {
    border: black;
    width:90%;
}
.title {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

.text {
    padding: 0 20px 20px 20px;
}